# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build
/.next/
/out/
/build

# Vercel
.vercel

# Environment variables
.env*.local
.env

# Python & ML
__pycache__/
*.py[cod]
*.class
*.log
.ipynb_checkpoints/
kaggle_run_output/

# OS / Editor
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
